In [8]:
# 1

my_list = [1,2,3,'john', 'doe', 3.33, 5.121, 44.332, complex(3, 2), complex(5,9)]

In [12]:
# 2

my_list = [1, 2, 3, 4, 5]
print(my_list[1:4])

[2, 3, 4]

In [14]:
# 3

def do_operations(list):
    summ = 0
    mult = 1
    
    for i in list:
        summ = summ + i
        mult = mult * i
        
    return (summ, mult)

In [16]:
# 4

list = [1,2,3,4,5,6,7,8,9]

largest = max(list)
smallest = min(list)

print("largest = ", largest)
print("smallest = ", smallest)

In [18]:
# 5

list_1 = [1,2,3,4,5,6,7,8,9]
print(list_1)

list_1 = [i for i in list_1 if i % 2 == 0]
print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]

In [3]:
# 6

my_list = []

for i in range(1, 30):
    my_list.append(i ** 2)


print(my_list[:5])
print(my_list[-5:])

[1, 4, 9, 16, 25]
[625, 676, 729, 784, 841]

In [6]:
# 7
def list_replace(list1, list2):
    
    list1[-1:] = list2
    print(list1)
    
    
user_list_1 = [1,3,5,7,9,10]
user_list_2 = [2,4,6,8]
    
list_replace(user_list_1, user_list_2)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [13]:
# 8

a={1:10, 2:20}
b={3:30, 4:40}

c = {**a, **b}
print(c)

{1: 10, 2: 20, 3: 30, 4: 40}

In [14]:
# 9

def create_dict():
    
    my_dict = dict()
    num = int(input("Enter Number: "))
    
    for i in range(1, num+1):
        my_dict[i] = i*i
        
    print(my_dict)


create_dict()

Enter Number: 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [15]:
# 10

user_input = input("Enter comma separted numbers: ")

generated_list = user_input.split(",")
print(generated_list)

generated_tuple = tuple(generated_list)
print(generated_tuple)

Enter comma separted numbers: 12,22,32,42,52,62,92,72
['12', '22', '32', '42', '52', '62', '92', '72']
('12', '22', '32', '42', '52', '62', '92', '72')

In [ ]:
# End of Taks - 3