In [4]:
# 1

def rev_string(str):
    return str[::-1]

        
str = "1234abcd"
print(rev_string(str))

dcba4321

In [12]:
# 2

def count_cases(str):
    upper = 0
    lower = 0
    
    for char in str:
        if char.isupper():
            upper += 1
        elif char.islower():
            lower += 1
        else:
            pass
        
    print(f"No. of Uppercase characters : {upper} No. of Lower case Characters : {lower}")
        

str1 = "abcSdefPghijQk"
count_cases(str1)

No. of Uppercase characters : 3 No. of Lower case Characters : 11

In [16]:
# 3

def find_unique(my_list):
    new_list = []
    for elem in my_list:
        if elem not in new_list:
            new_list.append(elem)
            
    return new_list
    

list1 = [1,1,2,2,3,3,4,4,5,5,6,6,7,7,8,8,9,9]
list2 = find_unique(list1)

print(list1)
print(list2)

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
# 4

str = "Welcome-To-Jungle"

words = [n for n in str.split('-')]
words.sort()
print('-'.join(words))

Jungle-To-Welcome

In [26]:
# 5

final_list = []

while True:
    line = input()
    if line:
        final_list.append(line.upper())
    else:
        break
        
for item in final_list:
    print(item)

Consultadd
welcome to python programming

CONSULTADD
WELCOME TO PYTHON PROGRAMMING

In [27]:
# 6

def do_sum():
    str_1 = input("enter number 1: ")
    str_2 = input("enter number 2: ")
    
    return (int(str_1) + int(str_2))


print(do_sum())

enter number 1: 12
enter number 2: 15
27

In [31]:
# 7

def print_max_string():
    first_str = input("Enter first string: ")
    second_str = input("Enter second string: ")
    
    if len(first_str) > len(second_str):
        print(first_str)
    elif len(first_str) < len(second_str):
        print(second_str)
    else:
        print(first_str)
        print(second_str)
        

print_max_string()

Enter first string: short string
Enter second string: really really long string
really really long string

In [32]:
# 8

def generate_tuple():
    my_list = []
    for i in range(1, 21):
        my_list.append(i*i)
    
    return tuple(my_list)


print(generate_tuple())

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

In [34]:
# 9

def num_with_label(limit):
    for num in range(0, limit + 1):
        if num % 2 == 0:
            print(f"{num} EVEN")
        elif num % 2 != 0:
            print(f"{num} ODD")
        

num_with_label(3)

0 EVEN
1 ODD
2 EVEN
3 ODD

In [45]:
# 10
list1 = []
for i in range(0, 21):
    list1.append(i)
    
is_even = lambda x : x % 2 == 0

list2 = list(filter(is_even, list1))
print(list2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [47]:
# 11

given_list = [1,2,3,4,5,6,7,8,9,10]

even_squared_list = map(lambda x : x**2, filter(lambda x : x % 2 == 0, given_list))
print(list(even_squared_list))

[4, 16, 36, 64, 100]

In [48]:
# 12
try:
    5 / 0
except ZeroDivisionError:
    print("Can not divide by Zero")

Can not divide by Zero

In [11]:
# 13

from functools import reduce

my_list = [1,2,3,4,5,6,7]

def format_value(a, b): return f"{a}{b}"


print(reduce(format_value, my_list))

1234567

In [ ]:
# 14

In [14]:
# 15

def multiply_elem(elem):
    return elem * elem

my_list = [1,2,3,4,5,6,7]

answer = map(multiply_elem, my_list)
print(list(answer))

[1, 4, 9, 16, 25, 36, 49]

In [16]:
# 16

# first answer = 2

# second anser = NameError: name 'f' is not defined

In [ ]:
# END OF TASK_4